
.wrapper{
    background-color: #DCF0FB;
}
.footer{
    background-color: #FFFFFF;
}
.card-title-edit {
    margin: 0;
    color: #585855;
    font-size: 17px;
    text-align: center;
}
.table-header{
    color:'#FFFFFF'; 
    height:45;
    font-size: 17;
}
.table th,.table td{
    border: 1px solid #DCF0FB;
}
.table th{
    background-color: #61B8D9;
    color: 'blue';
}
.table td{
    background-color: #ffffff;
}
.table>thead>tr>th {
    height: 60px;
    border-bottom-width: 1px;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 5px;
    border-top: none !important;
    border-bottom: none;
    text-align: left !important;
}
.btn {
    margin: .375rem;
    height: 40px;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    padding: .84rem 2.14rem;
    font-size: .81rem;
}
.title{
    font-size: 18px;
    color: #696969;
    text-align: center;
    padding-bottom: 20px;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    
}
 
::-webkit-scrollbar-track {      
    background: #FFFFFF;  
}
 
::-webkit-scrollbar-thumb {
    background: #01B8F1;
}

.mid{
    display:flex ; 
    align-items:center ;
}

.distance{
    padding-top: 20px;
    padding-bottom: 20px;
}
.bgimage{
    background-image: url("../assets/image/sidebar-respon.png");
    /* background-color: rgb(16, 106, 202, 0.9); */
    background-repeat:no-repeat;
    background-position: center bottom;
}
.text-sidebar{
    padding-left: 10px;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
}
.text-sidebar:hover {
    color: #FFFFFF;
  }
.box{
    width: 200px;
}
.box:hover{
    background: #01B8F1;
    color: #FFFFFF;
}

@media (max-width: 767px) {
.none{
    display: none;    
    }
}

